<p>***********************input**************************</p>

{{input-text icon="icon-user inset"}}
<p>***********************input**************************</p>
{{input-password icon=true}}
<p>***********************input**************************</p>
{{input-checkbox label="apple,orange,banana,pear" name="fruit"}}
<p>***********************input**************************</p>
{{input-radio}}


{{outlet}}
